@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sawarabi+Gothic&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --pColor: rgb(216, 181, 23);
    --sColor: rgb(152, 113, 14);
    --textColor: rgb(210, 186, 153);
    --textColorNegative: rgb(44, 41, 37);
    --gradientColor: linear-gradient(to right, yellow, rgb(255, 195, 42));
    --bgColor1: rgba(0, 0, 0, 0.4);
    --bgColor2: rgba(0, 0, 0, 0.2);
    
    font-family: 'GFS Didot', Helvetica, Avenir, system-ui, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply scroll-smooth;
  }
  body {
    @apply flex flex-col items-center m-[0_auto] max-w-[100vw] min-w-[320px] min-h-[100vh]; 
  }
  a, li, p, h1, h2, h3, h4, h5 {
    @apply no-underline tracking-[0.44px];
  }
  
  p, a, li {
    @apply text-[1.1rem] lg:text-[1.25rem] text-[var(--textColor)] leading-[1.8];
  }
  li {
    @apply list-none;
  }
  h1 {
    @apply text-[3.2rem] leading-1.5;
  }
  h2 {
    @apply text-[1.75rem] md:text-[2rem] text-[var(--pColor)] text-center m-[0_auto] py-[4rem];
  }
  .ytVideo iframe {
    
  }
}

@layer components {
  .flex-container {
    @apply m-[0_auto] max-w-[1440px] flex flex-col justify-center items-center w-[80%] sm:text-center sm:text-[1.2rem];
  }

  .icon {
    @apply text-[rgb(201,154,26)] m-[0.5rem] transition-[0.5s_ease-in-out];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .navLink {
    @apply text-[var(--textColor)] hover:text-[var(--textColorNegative)] hover:bg-[var(--sColor)] text-[1.5rem] p-[1rem_4rem] rounded-[0.75rem] transition-[0.5_ease] hover:transition-[0.5_ease];
  }
}
