@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sawarabi+Gothic&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --pColor: rgb(216, 181, 23);
    --sColor: rgb(152, 113, 14);
    --textColor: antiquewhite;
    --textColorNegative: rgb(44, 41, 37);
    --gradientColor: linear-gradient(to right, yellow, rgb(255, 195, 42));
    --bgColor1: rgba(0, 0, 0, 0.4);
    --bgColor2: rgba(0, 0, 0, 0.2);
    --bgColor3: rgba(0, 0, 0, 0.1);
    
    font-family: 'GFS Didot', Helvetica, Avenir, system-ui, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply scroll-smooth;
  }
  body {
    @apply flex flex-col items-center m-[0_auto]; 
  }
  a, li, p, h1, h2, h3, h4, h5 {
    @apply no-underline tracking-[0.44px];
  }
  
  p, a, li {
    @apply text-[1.1rem] lg:text-[1.25rem] text-[var(--textColor)] leading-[1.8];
  }
  li {
    @apply list-none;
  }
  h2 {
    @apply text-[1.75rem] sm:text-[1.9rem] md:text-[2.2rem] text-[var(--pColor)] text-center m-[0_auto] pt-[12rem] pb-[4rem];
  }
}

@layer components {
  .flex-container {
    @apply m-[0_auto] max-w-[1440px] flex justify-center items-center w-[80%] sm:text-center sm:text-[1.2rem] pb-[2rem];
  }

  .flex-container-cols {
    @apply m-[0_auto] max-w-[1440px] flex flex-col justify-center items-center w-[80%] sm:text-center sm:text-[1.2rem] pb-[2rem];
  }

  .tour-section {
    @apply flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 m-[0_auto] gap-[0.75rem] w-[100%];
  }

  .icon {
    @apply text-[rgb(201,154,26)] m-[0.5rem] transition-all duration-300;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .navLink {
    @apply text-[var(--textColor)] hover:text-[var(--textColorNegative)] hover:bg-[rgba(239,198,36,0.8)] text-[1.5rem] p-[0.25rem_2.25rem_0.25rem_2.25rem] md:p-[0rem_0.75rem] lg:p-[0.25rem_1.25rem] 2xl:p-[0.25rem_1.5rem] md:m-[0_0.25rem] lg:m-[0_0.75rem] rounded-[1.5rem] md:rounded-[1.35rem] transition-all duration-300;
  }
  .active {
    @apply text-[var(sColor)];
  }

  .vid-wrapper {
    @apply relative w-full h-0 pt-[56.25%] mb-[3rem];
  }

  .vid-wrapper > div > iframe {
    @apply absolute top-0 left-0 w-full h-full;
  }
}
